<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_article</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/mystyle.css">
</head>
<body>
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="cnb-panel-header"> 添加文章</div>
            <div class="form-group">
                <label for="exampleInputEmail1">标题</label>
                <input type="text" class="form-control" name="title">
                <div>内容:</div>
                <textarea  name="add_article_content" id="add_article" style="width:700px;height:300px;"></textarea>
                <p><input type="submit"></p>
            </div>
        </div>
    </form>
</div>

<script src="/static/jquery-3.4.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script charset="utf-8" src="/static/kindeditor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="/static/kindeditor/lang/zh-CN.js"></script>
<script>
        KindEditor.ready(function(K) {
                window.editor = K.create('#add_article', {
                    uploadJson:"/upload/",
                    extraFileUploadParams:{
                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    },
                    filePostName:"upload_img"
                });
        });
</script>
</body>
</html>