<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog.title }}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/mystyle.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/theme/{{ blog.theme }}">
</head>
<body>
{% csrf_token %}
<div class="header">
    <p>{{ blog.title }}</p>
</div>
<div class="container-fluid home_c1">
    <div class="row">
        <div class="col-md-3">
            {% load my_tags %}
            {% get_left_menu username %}
        </div>
        <div class="col-md-8">
            {% block page-main %}

            {% endblock %}
        </div>
    </div>
</div>
</div>


<script src="/static/jquery-3.4.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
{% block script %}
{% endblock %}
</body>
</html>