<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">文章分类</h3>
    </div>
    <div class="panel-body">
        {% for category in category_list %}
            <p><a href="">{{ category.0 }}({{ category.1 }})</a></p>
        {% endfor %}

    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">标签</h3>
    </div>
    <div class="panel-body">
        {% for tag in tag_list %}
            <p><a href="">{{ tag.0 }}({{ tag.1 }})</a></p>
        {% endfor %}
    </div>
</div>